* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url(../Images/teste2.jpg);
  z-index: -9999;
  object-fit: cover;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box-grid {
  display: grid;
  height: 520px;
  width: 920px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title nav" "media nav";
  background: rgba(209, 123, 246, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(209, 123, 246, 0.13);
}

.box-title {
  grid-area: title;
}
.box-media {
  grid-area: media;
  padding-left: 60px;
}
.box-nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bio-box {
  grid-area: nav;
  color: #eee;
  padding: 0 50px 0 70px;
}

.inside-box-nav {
  text-align: left;
  height: 260px;
  width: 280px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}
.inside-box-nav a {
  height: 25%;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.3s ease;
}
.inside-box-nav a:hover {
  padding-left: 10px;
  color: #beb;
}
hr {
  width: 100%;
  padding: 0;
  margin: 0;
}
.box-title h1 {
  padding-left: 60px;
  padding-top: 60px;
  margin: 0;
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
}

.box-title h2 {
  font-weight: 300;
  padding-left: 60px;
  color: #fff;
  font-size: 1rem;
}
.box-media-flexbox {
  margin: 0;
  padding: 20px 0;
  height: 50px;
}
.links-media {
  float: left;
  transition: 0.2s ease;
  text-decoration: none;
}
.links-media:hover {
  padding: 10px 0;
}

.button-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 45px 0 0 0;
  border-radius: 50%;
  text-decoration: none;
  font-size: 3rem;
  color: #333;
  transition: 0.3s ease;
}
.button-boxes:hover {
  color: #fff;
  background: none;
}
.works-box {
  height: 520px;
}
.container-works-box {
  width: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.container-works-box figure {
  padding: 0;
  margin: 0;
}
.container-works-box figure img {
  height: 160px;
  margin-right: 15px;
  padding: 0;
}
